/* Color scheme http://colorschemedesigner.com/csd-3.5/#4f32PsOsOFfFf */
.bp, .pure-g,
.pure-g [class *="pure-u"] {
	font-family: "Lato";
}

.banner,
.small-banner {
	background: #395A77;
	padding: 2em 0.5em;
	text-align: center;
	color: #fafafa;
}

.bp .small-banner {
	padding: 0.5em 0.5em;
}

.bp .small-banner .bp-logo {
	width: 40px;	
}

.bp .small-banner h1 {
	margin: 0;
	text-align: left;
	margin-left: 60px;
}

.bp-headline {
	font-size: 1.4em;
	font-style: italic;
}

.bp .banner .subtitle {
	font-size: 1.1em;
	font-style: italic;
}

.bp .section {
	padding: 1.5em 1em;
}

.bp p {
	line-height: 145%; 
}

.bp code {
	font-family: 'Courier New';
	padding: 0px 2px;
	border: 1px solid #ccc;
	background: #fafafa;
	border-radius: 4px;
}

.bp-center {
	text-align: center;
}

.bp-food {
	background: #7B0704;
}

.bp-medicine {
	background: #036109;
}

.bp-device {
	background: #1A0655;
}

.bp-big-icon a.fa {
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	color: white;
	text-decoration: none;
	border-radius: 100%;
	font-size: 5em;
	cursor: pointer;
}

.bp-big-icon a.fa:hover,
.bp-big-icon a.fa:focus {
	opacity: 0.75;
	filter: alpha(opacity=75);
}

.bp-big-icon {
	text-align: center;
	text-align: center;
}

.bp-version {
	font-size: 8pt;
}

.bp-local {
	background: red;
	text-align: center;
	color: white;
	padding: 0.5em;
}

.bp-local:after {
	content: "(THIS IS A NON-PRODUCTION ENVIRONMENT)";
}

.bp-footer {
	padding: 2em;
	background: #D8D7D3;
	border-top: 1px solid #aaa;
	color: #444;
	font-size: smaller;
}

.bp-main-content {
	background: #EAEAE7;
	padding-bottom: 3em;
} 

.bp-starship {
	display: block;
	font-size: 1.5em;
	font-family: 'Orbitron';
	margin-bottom: 1.5em;
}

.bp-logo {
	position: absolute;
	width: 80px;
	left: 10px;
	top: 10px;
}


.bp-datatable {
	border-collapse: collapse;
}

.bp a,
.bp a:visited {
	color: #3A5A76;
	text-decoration: none;
}


.bp-datatable td,
.bp-datatable th {
	padding: 5px;
}

.bp-datatable thead th {
	color: white;
}

.bp-datatable thead, 
.bp-datatable tbody {
	font-size: 11pt;
	background: white;
}

.bp-datatable.bp-food td,
.bp-datatable.bp-food th {
	border-bottom: 1px solid #CC271F;
}

.bp-datatable.bp-food tbody tr > td:first-child {
	border-left: 1px solid #CC271F;
}

.bp-datatable.bp-food tbody tr > td:last-child {
	border-right: 1px solid #CC271F;
}

.bp-datatable.bp-food thead th {
	background: #7A0A0B;	
	border: 1px solid #7A0A0B;
}

.bp-datatable.bp-medicine td,
.bp-datatable.bp-medicine th {
	border-bottom: 1px solid #109128;
}

.bp-datatable.bp-medicine tbody tr > td:first-child {
	border-left: 1px solid #109128;
}

.bp-datatable.bp-medicine tbody tr > td:last-child {
	border-right: 1px solid #109128;
}

.bp-datatable.bp-medicine thead th {
	background: #0C6012;	
	border: 1px solid #0C6012;
}

.bp-datatable.bp-device  td,
.bp-datatable.bp-device  th {
	border-bottom: 1px solid #3B2D9E;
}

.bp-datatable.bp-device  tbody tr > td:first-child {
	border-left: 1px solid #3B2D9E;
}

.bp-datatable.bp-device  tbody tr > td:last-child {
	border-right: 1px solid #3B2D9E;
}

.bp-datatable .bp-device thead th {
	background: #1A0B53;	
	border: 1px solid #1A0B53;
}