.bp {
	font-family: sans-serif;
}

.bp .banner {
	background: #E61C17;
	padding: 2em 0.5em;
	text-align: center;
	color: #fafafa;
}

.bp-headline {
	font-size: 1.4em;
	font-style: italic;
}

.bp .banner .subtitle {
	font-size: 1.1em;
	font-style: italic;
}

.bp .section {
	padding: 1.5em 1em;
}

.bp p {
	line-height: 145%; 
}

.bp code {
	font-family: 'Courier New';
	padding: 0px 2px;
	border: 1px solid #ccc;
	background: #fafafa;
	border-radius: 4px;
}

.bp-center {
	text-align: center;
}

.bp-red, 
.bp-red a {
	background: #7B0704;
}

.bp-green, 
.bp-green a{
	background: #036109;
}

.bp-blue, 
.bp-blue a {
	background: #1A0655;
}

.bp-bold-icon a {
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	color: white;
	text-decoration: none;
	border-radius: 100%;
	font-size: 5em;
}

.bp-bold-icon {
	text-align: center;
	text-align: center;
}