/* Color scheme http://colorschemedesigner.com/csd-3.5/#4f32PsOsOFfFf */
.bp, .pure-g,
.pure-g [class *="pure-u"] {
	font-family: "Lato";
}

.bp .banner {
	background: #395A77;
	padding: 2em 0.5em;
	text-align: center;
	color: #fafafa;
}

.bp-headline {
	font-size: 1.4em;
	font-style: italic;
}

.bp .banner .subtitle {
	font-size: 1.1em;
	font-style: italic;
}

.bp .section {
	padding: 1.5em 1em;
}

.bp p {
	line-height: 145%; 
}

.bp code {
	font-family: 'Courier New';
	padding: 0px 2px;
	border: 1px solid #ccc;
	background: #fafafa;
	border-radius: 4px;
}

.bp-center {
	text-align: center;
}

.bp-red, 
.bp-red a {
	background: #7B0704;
}

.bp-green, 
.bp-green a{
	background: #036109;
}

.bp-blue, 
.bp-blue a {
	background: #1A0655;
}

.bp-bold-icon a {
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	color: white;
	text-decoration: none;
	border-radius: 100%;
	font-size: 5em;
}

.bp-bold-icon {
	text-align: center;
	text-align: center;
}

.bp-version {
	font-size: 8pt;
}

.bp-local {
	background: red;
	text-align: center;
	color: white;
	padding: 0.5em;
}

.bp-local:after {
	content: "(THIS IS A NON-PRODUCTION ENVIRONMENT)";
}

.bp-footer {
	padding: 2em;
	background: #D8D7D3;
	border-top: 1px solid #aaa;
	color: #444;
	font-size: smaller;
}

.bp-main-content {
	background: #EAEAE7;
	padding-bottom: 3em;
} 

.bp-starship {
	display: block;
	font-size: 1.5em;
	font-family: 'Orbitron';
	margin-bottom: 1.5em;
}