// Structure
@default-padding: 0.5em;
@section-padding: 1 * @default-padding 2 * @default-padding;
@logo-width: 80px;
@icon-width: 2em;

// Typography
@font-size: 12pt;
@font-family: "Lato";
@headline-font-size: 1.5em;
@line-height: 145%;

// Colors
@main-color: #fafafa;
@banner-background-color: #395A77;
@banner-background-color: #045591;
@banner-text-color:#fafafa;
@icon-text-color: #fff;
@food-color: #7B0704;
@medicine-color: #036109;
@device-color: #2B24A0;
@midnight-color: #052090;

html, body {
	background: lighten(#FECB6E, 20%);
	background: none;
	height: 100%;	
	width: 100%;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;	
}

/* Elements */
a, a:visited, a:active, a:focus {
	text-decoration: none;
	color: #395A77;
}

a.underline, a.underline:visited, a.underline:active, a.underline:focus {
	text-decoration: underline;
}

p {
	line-height: @line-height;
}

h1 {
	margin-top: @default-padding;
	margin-bottom: @default-padding;
	text-shadow: 1px 1px 1px #000;
}

h2 {
	color: @midnight-color;	
}

h3, h4 {
	color: lighten(black, 30%);
	font-weight: 600;
}

strong {
	font-weight: normal; // since we're using a lighter font for the rest
}

/* Global elements */
.pure-g, .pure-g[class *= "pure-u"],
.pure-g [class *="pure-u"] {
	font-family: @font-family;
	font-size: @font-size;
	font-weight: 300;
}

.bp-center {
	text-align: center;
}

.aligned-field {
	text-align: right;
	padding-right: @default-padding;
}

/* Components */
.bp-logo {
	position: absolute;
	left: @default-padding;
	top: @default-padding * 2;
	width: @logo-width;
	transform: rotate(-20deg);
}

.banner {
	color: @banner-text-color;
	background: @banner-background-color;
	/* Pier image from https://stocksnap.io/photo/YQ2YMLHFSQ */
	background: linear-gradient(to right, rgba(10, 10, 10, 0.6),  rgba(10, 10, 10, 0.5)),
		url(/ctf/images/pier.jpg),
		#036;
	background-position: center, center, center;
	background-size: auto auto, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
	position: relative; // otherwise, no box shadow for you!
	text-align: center;
	padding: @default-padding;
	
	box-shadow: 0px 5px 15px #777;
}


.small-banner:extend(.banner) {
	text-align: left;
	position: absolute;
	top: 0;
	width: 100%;
	box-shadow: none;
	background:
		linear-gradient(to right, rgba(10, 10, 10, 0.3),  rgba(10, 10, 10, 0.3)),
		linear-gradient(to right, rgba(10, 10, 10, 0.6),  rgba(10, 10, 10, 0.5)),
		url(/ctf/images/pier.jpg),
		#036;
	background-position: 0 0, 0 0, 0 0;
	background-size: 100% 50px, auto auto, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	
	height: 300px;
	z-index: 1;
	h1 {
		margin: 0;
		padding-left: @logo-width / 2 + 10px;
	}
	
	.bp-logo {
		width: @logo-width / 2;
	}
}

.banner, .small-banner {
	a, a:visited, a:active, a:focus {
		color: inherit;
	}
}

.headline {
	font-size: @headline-font-size;
	font-style: italic;
	
	.notification {
		text-shadow: 0px 1px 1px #000;
	}
	
	.carousel-position {
		position: relative;
	}
	
	.carousel-container {
		position: absolute;
		width: 100%;
	}
	
	.carousel {
		margin: 0;
		
		p {
			padding: 0 4 * @default-padding;
			margin-top: auto;
			margin-bottom: auto;
		}
	}
	
	.carousel-position, .carousel-container, .carousel {
		height: 2 * @headline-font-size + @default-padding ;
	}
	
	.rn-carousel-control {
		top: 0%;
		font-style: normal;
	}
	
	ul[rn-carousel] > li {
		color: @banner-text-color;		
	}
	
	.rn-carousel-indicator {
		font-style: normal;
	}


}

.section,.subsection {
	margin: @section-padding;	
}


.section {
	padding: @section-padding;
	background: white;
	box-shadow: 1px 1px 5px #777;
	min-height: 200px;
	
	&.opaque {
		background: #eee;
	}
}

.big-icon {
	text-align: center;
	padding: @section-padding;
	
	a.fa {
		display: inline-block;
		width: @icon-width;
		height: @icon-width;
		line-height: @icon-width;
		color: @icon-text-color;
		border-radius: 100%;
		font-size: 5em;
		cursor: pointer;
		
		&:hover, &:focus {
			opacity: 0.75;
			filter: alpha(opacity=75);
		}
	}
}

.fields {
	div[class *= "pure-u"] {
		margin-bottom: 2 * @default-padding;
	}
}

.link-button {
	font-size: @font-size + 4pt !important;
	&:hover, &:focus {
		background: #eee;
	}
}

.button-remove {
	color: red;
	
	&:visited {
		color: red;
	}
}

.caption {
	color: @midnight-color;	
	margin-bottom: 0.1em;
	text-align: center;
}

.bio {
	text-align: center;
	margin-bottom: 2em;
	.name {
		display: block;
	}
	
	.title {
		margin: 0.1em 0;
	}
		
	img {
		max-width: 250px;
		width: 100%;
	}
	
}

/* Functionality specific */
.starship {
	font-size: @headline-font-size;
	font-family: 'Orbitron';
	margin-bottom: @default-padding * 6;
}

.main {
	padding: 1.5em 0em;
	background-color: #eee;
}

.footer {
	padding: 2em;
	background: darken(@main-color, 10%);
	border-top: 1px solid darken(@main-color, 20%);
	color:darken(@main-color, 60%);
	font-size: smaller;
	background: #045591;
	background: lighten(@banner-background-color, 60%);
}

.food {
	background-color: @food-color;
}

.medicine {
	background-color: @medicine-color;
}

.device {
	background-color: @device-color;
}

.list-container {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	
	&.scrollable {
		height: 400px;
		-webkit-overflow-scrolling: touch;
		overflow-y: auto;
		border-bottom: 1px solid #ddd;
	}
}

.overlay {
	margin-top: 50px;
	background: none;
	z-index: 2;
	position: relative;
}

.filler {
	height: 270px;
}

.opaque {
	background: #eee;
}

.big-search {
	display:table;
	width:100%;
	height:200px;
	color: white;
	text-shadow: 0px 1px 1px #000;
	
	.cell-container {
		display:table-cell;
		vertical-align:middle;
	}
	
	.search-field {
		
		input {
			width: 50%;
			border-radius: 0;
			color: black;
			border: 0;
			margin: 0;
		}
		
		button {
			border-radius: 0;
			margin: 0;
			position: relative;
			border-left: 1px solid #aaa;
			left: -1 * @default-padding;
		}
		
	}
	
	label {
		font-size: 2 * @font-size;
		text-shadow: 0px 1px 1px #333;
	}
}

.list {
	
	.listitem {
		border-bottom: 1px solid #ddd;
		padding: @default-padding;
		
		.metadata {
			font-size: @font-size - 2pt;
			color: lighten(black, 30%);
			text-align: right;
		}
		
		.description {
			font-size: @font-size - 1pt;
			color: lighten(black, 20%);
		}
		
		&.clickable:hover {
			background: lighten(#036, 75%);
		}
	}
	
	.listheader {
		background: #eee;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		
		h3 {
			margin: @default-padding;
			font-size: @font-size;
			font-weight: normal;
		}
	}
}

/* Datatable */
.datatable {
	table-layout: fixed;
	border-collapse: collapse;
	border: 1px solid #ddd;;
	background: white;
	width: 100%;
	margin-top: 2 * @default-padding;
	
	caption {
		background: #f8f8f8;
		padding-top: @default-padding;
		padding-bottom: @default-padding;
		border: 1px solid #ddd;;
		border-bottom: 0;	
	}
	
	th, td {
		font-size: @font-size - 2pt;
		padding: 5px 2px;
		text-align: left;
		border-bottom: 1px dotted #ddd;
		
	}
}

.scrollable-container {
	max-height: 400px;
	overflow: auto;
}


.w-20pc {
	width: 20%;
}

.w-30pc {
	width: 30%;
}

.w-250px {
	width: 100%;
	max-width: 250px;
}

.w-50pc {
	width: 50%;
}

.w-100pc {
	width: 100%;
}

.inline-block {
	display: inline-block !important;
}

.short-description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

/* Map */
.enable-hover .state:hover,
.state.highlighted,
.enable-hover .state.highlighted {
	fill: lighten(@food-color, 40%);;
}

.selectable-map {
	min-height: 200px;
}

.affected-states {
	min-height: 100px;
}

/* Turn on styles for local development */
.version {
	font-size: 8pt;
}

.local {
	background: red;
	text-align: center;
	color: white;
	padding: 0.5em;
}

.local:after {
	content: "(THIS IS A NON-PRODUCTION ENVIRONMENT)";
}


.mobile-only {
	position: fixed;
	left: -9999px;
}

.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.rn-carousel-control.rn-carousel-control-next {
	opacity: 0.2;
	&:before {
		content: "\25B6";
	}
	
	&:hover {
		opacity: 0.8;
	}
}

.rn-carousel-control.rn-carousel-control-prev {
	opacity: 0.2;
	&:before {
		content: "\25C0";
	}
	
	&:hover {
		opacity: 0.8;
	}
}


@media screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}
	
	h1 {
		font-size: 1.25em;
	}
	
	.headline {
		font-size: @headline-font-size * 0.7;
	}
	
	.starship {
		font-size: @headline-font-size * 0.7;
	}
	
	.bp-logo {
		position: absolute;
		top: 5px;
		left: 0;
		width: 20px; 
	}
	
	.mobile-only {
		position: static;
	}
	
	.section {
		margin-left: 0;
		margin-right: 0;
	}
	
	.big-icon {
		text-align: center;
		padding: @section-padding;
		
		a.fa {
			display: inline-block;
			width: @icon-width;
			height: @icon-width;
			line-height: @icon-width;
			color: @icon-text-color;
			border-radius: 100%;
			font-size: 3.5em;
			cursor: pointer;
			
			&:hover, &:focus {
				opacity: 0.75;
				filter: alpha(opacity=75);
			}
		}
	
	}
	
	.big-search .search-field {
		input {
			display: inline-block;
			width: 80%;
		}
	}
	
	.rn-carousel-control.rn-carousel-control-prev,
	.rn-carousel-control.rn-carousel-control-next {
		font-size: 1em;
	}	
}

@media screen and (max-width: 568px) {
	.bio {
	text-align: center;
	
	img {
		width: 80%;
	}
}
	
}

@media screen and (max-width: 414px) {
	.big-search .search-field button {
		margin-top: @default-padding;
	}
		
	.small-banner {
		background-size: 100% 50px, auto auto, 100% 300px;
	}
	
	.headline .carousel-position, .headline .carousel-container, .headline .carousel {
		height: 7em;
	}
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	@-ms-viewport {
 		width: device-width;
	}
	.affected-states {
		height: 200px;
	}
	
	.selectable-map {
		height: 400px;
	}
}