@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/Lato/Lato-Light.ttf);
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Lato/Lato-Regular.ttf);
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Orbitron/Orbitron-Regular.ttf);
}